# INFERENCE CONFIG
app: vjepa
cpus_per_task: 32
# Output folder for inference logs (separate from training to avoid overwrite)
folder: /home/sagemaker-user/user-default-efs/vjepa2/evals/vitg-384/rvsf_a4c_inference
mem_per_gpu: 80G
nodes: 1
tasks_per_node: 8
num_workers: 8

# Use the same evaluation infrastructure
eval_name: video_classification_frozen
resume_checkpoint: true # <--- CHANGE THIS TO TRUE, OTHERWISE RANDOM WEIGHTS
# Use a new tag for inference results
tag: rvsf-lvef-a4c-inference-test-set

# --- CRITICAL INFERENCE SETTINGS ---
val_only: true
# Path where the predictions CSV will be saved
predictions_save_path: /home/sagemaker-user/user-default-efs/vjepa2/preds/a4c_test_predictions.csv

# POINT THIS TO YOUR TRAINED PROBE CHECKPOINT
# Based on your previous config, it should be here:
probe_checkpoint: /home/sagemaker-user/user-default-efs/vjepa2/evals/vitg-384/rvsf_a4c/video_classification_frozen/rvsf-a4c-full-vitg16-336-16f-pt-e279-an-e78-fs2-ns2-regression-v2/latest.pt

experiment:
  classifier:
    task_type: regression
    num_heads: 16
    num_probe_blocks: 4
    num_targets: 1

  data:
    dataset_type: VideoDataset
    # Point 'dataset_val' to your TEST CSV
    dataset_val:   /home/sagemaker-user/user-default-efs/vjepa2/data/csv/a4c_b_lvef_test.csv
    # Train path is ignored in val_only mode, but usually required by config parser
    dataset_train: /home/sagemaker-user/user-default-efs/vjepa2/data/csv/a4c_b_lvef_test.csv
    
    # Keep identical to training config
    resolution: 336
    frames_per_clip: 16
    frame_step: 2
    num_segments: 2
    num_views_per_segment: 1

    target_mean: 57.06   # <--- NEW: LVEF Mean
    target_std: 11.33    # <--- NEW: LVEF Std

  optimization:
    # You can increase batch size for inference since gradients are off
    batch_size: 4
    
    # Zero out learning rates for safety (though val_only prevents updates anyway)
    multihead_kwargs:
    - final_lr: 0.0
      final_weight_decay: 0.0
      lr: 0.0
      start_lr: 0.0
      warmup: 0.0
      weight_decay: 0.0

    num_epochs: 1 # Run once
    use_bfloat16: true
    use_pos_embed: false

model_kwargs:
  # Keep identical to training
  checkpoint: "/home/sagemaker-user/user-default-efs/vjepa2/checkpoints/anneal/keep/pt-280-an81.pt"
  module_name: evals.video_classification_frozen.modelcustom.vit_encoder_multiclip
  
  pretrain_kwargs:
    encoder:
      checkpoint_key: target_encoder
      img_temporal_dim_size: null
      model_name: vit_giant_xformers
      patch_size: 16
      tubelet_size: 2
      uniform_power: true
      use_rope: true
      
  wrapper_kwargs:
    max_frames: 128
    use_pos_embed: false