# INFERENCE CONFIG
app: vjepa
cpus_per_task: 32
# Output folder for inference logs
folder: /home/sagemaker-user/user-default-efs/vjepa2/evals/vitg-384/lvef_inference
mem_per_gpu: 80G
nodes: 1
tasks_per_node: 8
num_workers: 8

eval_name: video_classification_frozen
resume_checkpoint: true
tag: lvef-a4c-echoprime-224px-multi

val_only: true
predictions_save_path: /home/sagemaker-user/user-default-efs/vjepa2/preds/lvef-a4c-echoprime-224px-multi_predictions.csv

# POINT THIS TO YOUR TRAINED PROBE CHECKPOINT
probe_checkpoint: /home/sagemaker-user/user-default-efs/vjepa2/checkpoints/eval_probes/lvef/echoprime_224px.pt

experiment:
  classifier:
    task_type: regression
    num_heads: 16
    num_probe_blocks: 4
    num_targets: 1

  data:
    dataset_type: VideoDataset
    dataset_val:   /home/sagemaker-user/user-default-efs/vjepa2/data/csv/a4c_b_lvef_test_224px.csv
    # Dummy path for train
    dataset_train: /home/sagemaker-user/user-default-efs/vjepa2/data/csv/a4c_b_lvef_test_224px.csv
    
    resolution: 224
    frames_per_clip: 16
    frame_step: 2
    num_segments: 2
    num_views_per_segment: 1

    # [CRITICAL] Disable dataloader normalization so your wrapper receives raw (0-1) tensors
    normalization:
      - [0.0, 0.0, 0.0]
      - [1.0, 1.0, 1.0]

    target_mean: 57.06
    target_std: 11.33

  optimization:
    batch_size: 4
    multihead_kwargs:
    - final_lr: 0.0
      final_weight_decay: 0.0
      lr: 0.0
      start_lr: 0.0
      warmup: 0.0
      weight_decay: 0.0

    num_epochs: 1
    use_bfloat16: true 

model_kwargs:
  # Set to null so the wrapper looks for weights in 'wrapper_kwargs' or default root
  checkpoint: null 
  
  # [FIX 1] Point to your custom EchoPrime module
  module_name: evals.video_classification_frozen.modelcustom.echo_prime_encoder
  
  pretrain_kwargs: {}
  
  # [FIX 2] Use the arguments your custom init_module expects
  wrapper_kwargs:
    echo_prime_root: /home/sagemaker-user/user-default-efs/vjepa2/evals/video_classification_frozen/modelcustom/EchoPrime
    force_fp32: true
    bin_size: 50