# INFERENCE CONFIG
app: vjepa
cpus_per_task: 32
# Output folder for inference logs
folder: /home/sagemaker-user/user-default-efs/vjepa2/evals/vitg-384/lvef_inference
mem_per_gpu: 80G
nodes: 1
tasks_per_node: 8
num_workers: 8

eval_name: video_classification_frozen
resume_checkpoint: true
tag: lvef-a4c-videomae-224px

val_only: true
predictions_save_path: /home/sagemaker-user/user-default-efs/vjepa2/preds/lvef-a4c-videomae-224px-predictions.csv

# POINT THIS TO YOUR TRAINED PROBE CHECKPOINT
probe_checkpoint: /home/sagemaker-user/user-default-efs/vjepa2/checkpoints/eval_probes/lvef/videomae_224px.pt

experiment:
  classifier:
    task_type: regression       # NEW: Specify regression task
    num_heads: 16
    num_probe_blocks: 4
    num_targets: 1              # CHANGED: Replace num_classes with num_targets

  data:
    dataset_type: VideoDataset
    # Point 'dataset_val' to your TEST CSV
    dataset_val:   /home/sagemaker-user/user-default-efs/vjepa2/data/csv/a4c_b_lvef_test_224px.csv
    # Dummy path for train (ignored but required by parser)
    dataset_train: /home/sagemaker-user/user-default-efs/vjepa2/data/csv/a4c_b_lvef_test_224px.csv
    resolution: 224
    frames_per_clip: 16
    frame_step: 2
    num_segments: 2
    num_views_per_segment: 1

    target_mean: 57.0569
    target_std: 11.3252

  optimization:
    batch_size: 4
    multihead_kwargs:
    - final_lr: 0.0
      final_weight_decay: 0.0
      lr: 0.0
      start_lr: 0.0
      warmup: 0.0
      weight_decay: 0.0

    num_epochs: 1
    use_bfloat16: true 

model_kwargs:
  checkpoint: /home/sagemaker-user/user-default-efs/vjepa2/checkpoints/videomae-ep163.pth
  module_name: evals.video_classification_frozen.modelcustom.videomae_encoder
  pretrain_kwargs:
    encoder:
      model_name: vit_large_patch16_224
      tubelet_size: 2
  wrapper_kwargs: {}